.main-container {
  max-width: 75rem;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.nav-link {
  text-decoration: none;
  position: relative;
  font-size: x-large;
  color: rgb(126, 126, 126);
  margin-left: 1rem;
  display: inline-block;
}

.nav-link.active {
  font-weight: 600;
  text-decoration: underline;
  color: rgb(32, 9, 241);
}

.logo-container {
  text-align: center;
}

.logo {
  max-width: 5rem;
  border: 0.01rem solid lightgrey;
  border-radius: 4rem;
  padding: 0.1rem;
}

.form {
  max-width: 20rem;
  margin: 0 auto;
  padding: 3%;
  background-color: rgba(169, 255, 186, 0.575);
  border-radius: 0.5rem;
  border: 2px solid rgb(129, 177, 148);
}

.form input {
  padding-right: 10rem;
  margin-bottom: -1rem;
  padding: 0.1rem 10rem 0.3rem 0rem;
  border: 0.1rem solid rgb(110, 124, 0);
}

.submit-button {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  border: 0.01rem solid black;
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: black;
  font-weight: 700;
}

.go-login {
  text-decoration: none;
  color: black;
  margin-top: 0.5rem;
}

.footer {
  text-align: center;
}

#err {
  color: tomato;
  margin-top: 1rem;
}

.error-msg {
  color: tomato;
  margin-top: 1rem;
}
.invalid-input {
  border: 0.01rem solid tomato;
  background-color: rgb(255, 207, 199);
}

.success-msg {
  color: rgb(87, 187, 87);
  margin-top: -0.8rem;
}

.group-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.card-group {
  border: 0.01rem solid grey;
  border-radius: 0.3rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
  text-align: center;
}

.bills-table {
  border-collapse: collapse;
  width: 10rem;
  text-align: left;
}

.bills-table th {
  background-color: rgb(248, 236, 196);
  color: black;
}

.bills-table th,
td {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.bills-table tr:nth-child(even) {
  background-color: rgb(219, 219, 219);
}
